<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .nickname_form > p:nth-of-type(2)  {
                display: none;
            }

            .nickname_form div {
                display: none;
            }

            .nickname_form span {
                display: none;
            }
        </style>
    </head>
    <body>
        <form action="" method="POST" class="nickname_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">완료</button>
        </form>
    </body>
</html>