{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fever Partners</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/jiwoo.css' %}">
        
        <!-- icon -->
        <script src="https://kit.fontawesome.com/6a125f09de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="signup_email_container">
            <div class="page_back_header">
                <span class="page_back">
                    <i class="fa-solid fa-chevron-left"></i>
                </span>
                <p>fever partners</p>
                <p>회원가입</p>
            </div>
            <div class="signup_email_form">
                <span>계정</span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div>
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.password1 }}
                    </div>
                    <div>
                        {{ form.password2 }}
                    </div>
                    <button type="submit">회원가입</button>
                </form>
            </div>
        </div>
    </body>
</html>