{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/minju1.css' %}">
    <script src="https://kit.fontawesome.com/aa0228ade6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css">
  </head>
  <header>
    <a class="go_back" href="{% url 'user_management:main'%}">
      <i class="ri-arrow-left-s-line"></i>
    </a>
      <p class="room-title">마이페이지</p>
      <i class="ri-arrow-left-s-line hide-arrow"></i>
    </header>
    <div class="user_detail_card">
      <div class="profile-info">
        <div class="user-name"><span>{{user.nickname}}</span>님의 마이페이지</div>
        {% if user.profile_image %}
          <img src="/media/{{user.profile_image}}/" alt="프로필 이미지" class="profile-image" />
        {% else %}
          <div class="no-image">No image</div>
        {% endif %}
        <div class="user-info">
          <div class="info-item">이메일 : {{user.email}}</div>
          <div class="info-item">소개 : {{user.profile}}</div>
          <div class="info-item">거주 : {{user.region}}</div>
          <div class="info-item">거주 상세 : {{user.region_detail}}</div>
        </div>
      </div>
      <div class="btns">
        <div><a href="{% url 'user_management:update' user.id %}">수정</a></div>
        <div><a href="{% url "user_management:logout" %}">로그아웃</a></div>
        <div><a href= "">회원탈퇴</a></div>
      </div>
    </div>
    

    <div class="footer">
      <a href="#" class="footer-link" style="display: flex;">
        <div class="footer-item">
          <i class="fa-solid fa-user-group footer-icon"></i>
          <div class="footer-text">Group</div>
        </div>
      </a>
      <a href="#" class="footer-link" style="display: flex;">
        <div class="footer-item">
          <i class="fa-solid fa-bullseye footer-icon"></i>
          <div class="footer-text">MyGoal</div>
        </div>
      </a>
      <a href="#" class="footer-link" style="display: flex;">
        <div class="footer-item">
          <i class="ri-file-list-3-line footer-icon"></i>
          <div class="footer-text">null</div>     <!-- 이 부분 이름은 나중에 수정 필요 -->
        </div>
      </a>
    </div>
  </body>
</html>
