{% extends "base.html" %}

{% block content %}
<div id="mypage-container">
  <div class='goal-header'>
    <div class="page_back_header">
        <span onclick="goBack()" class="page_back">
            <i class="fa-solid fa-chevron-left main-color-text"></i>
        </span>
    </div>
    <div class="main-color-text">마이페이지</div>
    <div></div>
  </div>

  <div class="mt5vh-bold-text"><span class="main-color-text">{{user.nickname}}</span> 님의 마이페이지</div>
  <div>
    {% if user.profile_image %}
    <img
      src="/media/{{user.profile_image}}/"
      alt="프로필 이미지"
      class="profile-image-my"
    />
    {% else %}
    <img
      src="/static/image/noimage.png"
      alt="대체 이미지"
      class="profile-image-my"
    />
    {% endif %}
  </div>
  <div class="user-detail-box gray-08em">Fever : {{user.fuel}}</div>
  <div class="user-detail-box gray-08em">프로필 : {{user.profile}}</div>
  <div class="user-detail-box gray-08em">이메일 : {{user.email}}</div>
  <div class="user-detail-box gray-08em">닉네임 :{{user.nickname}}</div>
  <div class="user-detail-box gray-08em">거주 : {{user.region}}</div>
  <div class="user-detail-box gray-08em">거주 상세 : {{user.region_detail}}</div>
  <div class="horizontal-btns">
    <a href="{% url "user_management:update" user.id %}" class="white-main-btn a-to-btn">수정</a>
    <a href="{% url "user_management:logout" %}" class="white-main-btn a-to-btn">로그아웃</a>
    <a href="" class="white-main-btn a-to-btn">회원탈퇴</a>
  </div>
</div>

{% endblock content %}
