{% extends "base.html" %}

{% block content %}
    <div id="group-request-container">
        <div class='goal-header'>
            <div class="page_back_header">
                <span onclick="goBack()" class="page_back">
                    <i class="fa-solid fa-chevron-left main-color-text"></i>
                </span>
            </div>
            <div class="main-color-text">알림</div>
            <div></div>
        </div>
        <ul>
            {% for alarm in alarms %}
            {% if alarm.room.master == user %}
                <li>
                    <div><span class="main-color-text">{{ alarm.alarm_from.nickname}}</span> 님이 그룹가입 신청</div> 
                    <a href="{% url 'alarm:alarm_detail_as_master' alarm.pk%}" class="request-detail-btn">상세보기</a>
                </li>
            {% else %}
                {% if alarm.goal %}
                    <li>
                        <div><span class="main-color-text">{{ alarm.alarm_from.nickname}}</span> 님이 그룹가입 제안</div>
                        <a href="{% url 'alarm:alarm_detail_as_user' alarm.pk%}" class="request-detail-btn">상세보기</a>
                    </li>
                {% else %}
                    <li>
                        <div><span class="main-color-text">{{ alarm.alarm_from.nickname}}</span> 님이 그룹가입 요청</div> 
                        <a href="{% url 'alarm:alarm_detail_direct' alarm.pk%}" class="request-detail-btn">상세보기</a>
                    </li>
                {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <a href="{% url 'group_management:group_list' %}" class="footer-link" style="display: flex;">
          <div class="footer-item">
            <i class="fa-solid fa-user-group footer-icon"></i>
            <a href="{% url 'group_management:group_list' %}" class="footer-text">내 그룹</a>
          </div>
        </a>
        <a href="{% url 'goal_management:goal_list' %}" class="footer-link" style="display: flex;">
          <div class="footer-item">
            <i class="fa-solid fa-bullseye footer-icon"></i>
            <a href="{% url 'goal_management:goal_list' %}" class="footer-text">내 목표</a>
          </div>
        </a>
        <a href="{% url 'goal_management:achievement_report_list'%}" class="footer-link" style="display: flex;">
          <div class="footer-item">
            <i class="ri-file-list-3-line footer-icon"></i>
            <a href="{% url 'goal_management:achievement_report_list'%}" class="footer-text">달성보고</a>    <!-- 이 부분 이름은 나중에 수정 필요 -->
          </div>
        </a>
      </div>
{% endblock content %}