<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    알림들
    <a href="/main">메인페이지</a>
    <ul>
        {% for alarm in alarms %}  
        {% if alarm.room.master == user %}
            <li>{{ alarm.alarm_from.nickname}}님이 그룹가입 신청 <a href="{% url 'alarm:alarm_detail_as_master' alarm.pk%}">상세보기</a></li>
        {% else %}
            {% if alarm.goal %}
                <li>{{ alarm.alarm_from.nickname}}님이 그룹가입 제안 <a href="{% url 'alarm:alarm_detail_as_user' alarm.pk%}">상세보기</a></li>                             
            {% else %}
                <li>{{ alarm.alarm_from.nickname}}님이 그룹에 직접 초대 <a href="{% url 'alarm:alarm_detail_direct' alarm.pk%}">상세보기</a></li> 
            {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>