{% extends "base.html" %}

{% block content %}
<div id="group-request-container">
    <div class='goal-header'>
        <div class="page_back_header">
            <span onclick="goBack()" class="page_back">
                <i class="fa-solid fa-chevron-left main-color-text"></i>
            </span>
        </div>
        <div class="main-color-text">알림</div>
        <div></div>
    </div>

    <div class="suggest-join-group">
        <p class="fs15em-bold"><span class="main-color-text">{{ alarm.alarm_from.nickname }}</span> 님의 그룹가입 제안</p>
        <p>당신의 목표 <span class="main-color-text">'{{alarm.goal.title}}'</span> 을 눈여겨본 {{ alarm.alarm_from.nickname }}님이 그룹가입을 제안했습니다.</p>
        <p>제안된 그룹: <span class="main-color-text">{{ alarm.room.title }}</span></p>
        <div class="horizontal-btns">
            <button onclick="acceptRequest({{alarm.id}})" class="white-main-btn">수락</button>
            <form method="POST" action="{% url 'alarm:reject_request' alarm.id %}">
                {% csrf_token %}
                <button type="submit" class="white-main-btn">거절</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}