.detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.2rem;
}

.detail-header {
  display: flex;
  gap: 1rem;
}

.detail-user-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.bold-text {
  font-weight: bolder;
  font-size: 1.2rem;
}
