textarea {
  width: 90%;
}

input[type=submit] {
  margin-top: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 70px;
}
.header {
  flex-shrink: 0;
}
.container {
  flex: 1;
  overflow: auto;
}
