:root {
    --red: #db4455;
    --white: #ffffff;
    --gray: #8b8b8b;
    --height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
}

body, html {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* start.html */
#start_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    background-color: var(--red);
    justify-content: space-evenly;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60%;
}

.start_btn {
    background-color: var(--white);
    padding: 0.5rem;
}

.start_btn a {
    font-size: 3rem;
    color: var(--red);
    text-decoration: none; /* 밑줄을 없애는 속성 */
    font-weight: bold;
    padding: 0.5rem;
}

/* login.html */
#login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    background-color: var(--white);
    justify-content: space-between;
}

.page_back_header {
    margin-top: 1rem;
    width: 90%;
}

#login_box {
    height: 30vh;
}

#login_box span {
    color: var(--red);
}

#login_form {
    display: flex;
    flex-direction: column;
}

#login_form input {
    border: none; /* 모든 테두리를 제거합니다. */
    border-bottom: 0.1rem solid var(--gray); /* 아래쪽 테두리를 추가합니다. 여기서는 검은색 1px 선을 사용했습니다. */
    outline: none; /* 포커스 효과 테두리를 제거합니다. */
    margin-top: 1rem;
    height: 2rem;
}

#login_form button {
    margin-top: 2rem;
    color: var(--white);
    background-color: var(--red);
    border: none; /* 모든 테두리를 제거합니다. */
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px 0;
}

#login_service {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_service a {
    text-decoration: none; /* 밑줄을 없애는 속성 */
    color: var(--gray); /* 링크 색상을 상위 요소의 색으로 상속합니다. */
    font-size: small;
}

#login_service a + a::before {
    content: "|";
    margin: 0 5px; /* 막대와 텍스트 사이의 간격을 조절합니다. */
}

#social_login {
    height: 35vh;
    display: flex;
}

#social_login form {
    margin: 0 0.5rem;
}

#social_login form button {
    background-color: transparent; /* 배경색을 투명으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    box-shadow: none; /* 그림자를 없앱니다. */
}

#social_login form img {
    height: 2rem;
    width: 2rem;
}
#social_login div:nth-child(2) {
    margin: 0 2vw;
}
/* signup_how.html */
#signup_how_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    justify-content: space-between;
}

.page_back_header > p:nth-child(3) {
    color: var(--red);
}

.page_back_header p {
    font-size: 1.5rem;
}

#signup_method {
    width: 50vw;
}

#signup_method div {
    border: solid 1px black;
    margin-top: 1rem;
    height: 2rem;
    width:50wh;
}

#signup_method div form {
    height: 100%;
    width: 100%;
}

#signup_method div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

#signup_method a {
    text-decoration: none; /* 밑줄을 없애는 속성 */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

#signup_method div button {
    background-color: transparent; /* 배경색을 투명으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    box-shadow: none; /* 그림자를 없앱니다. */
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

#return_login {
    height: 30vh;
}

#return_login a {
    color: var(--red);
    text-decoration: none; /* 밑줄을 없애는 속성 */
}

/* signup_email.html */
#signup_email_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    background-color: var(--white);
    justify-content: space-between;
}

.signup_email_form {
    height: 70vh;
}

.signup_email_form div {
    margin-top: 1rem;
}

.signup_email_form > span {
    color: var(--red);
}

.signup_email_form button {
    margin-top: 2rem;
    color: var(--white);
    background-color: var(--red);
    border: none; /* 모든 테두리를 제거합니다. */
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px 0;
}

/* input_nickname.html */
#input_nickname_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    background-color: var(--white);
    justify-content: space-between;
}

.input_nickname_form {
    height: 70vh;
}

.input_nickname_form div {
    margin-top: 1rem;
}

.input_nickname_form > span {
    color: var(--red);
}

.input_nickname_form button {
    margin-top: 2rem;
    color: var(--white);
    background-color: var(--red);
    border: none; /* 모든 테두리를 제거합니다. */
    border-radius: 10%;
    font-size: 1rem;
}

/* main.html */
#main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    justify-content: space-between;
}

.main_container_top_part {
    height: 50vh;
    background-color: var(--red);
}

.main_container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_container_header img {
    height: 3vh;
    width: auto;
}

#main_container div {
    width: 100%;
}

.main_top_part {
    height: 45vh;
}

.main_top_part > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main_top_part_content div {
    color: var(--white);
}

.main_top_part_content div {
    margin-top: 1rem;
}

.main_top_part > div div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.main_container_bottom_part {
    height: 35vh;
}

.main_container_bottom_part_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.main_container_bottom_part_content a {
    text-decoration: none;
    -webkit-text-stroke-width: 1px; /* 테두리의 너비를 지정합니다. */
    -webkit-text-stroke-color: var(--red); /* 테두리의 색상을 지정합니다. */
    color: var(--white);
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content:center;
    padding: 10px;
    overflow: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110px;
}
.footer-item:nth-of-type(2) {
    margin: 0 10vw;
}
.footer-icon {
    font-size: 30px;
    color: #db4455;
    margin-bottom: 10px;
}

.footer-text {
    color: #db4455;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}

.main_container_header span a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--white);
    text-decoration: none; /* 밑줄을 없애는 속성 */
}

.header_icons {
    height: 5vh;
    display: flex;
    align-items: center;
}

.header_icons a {
    font-size: 1.5rem;
}

progress {
    width: 70%;
    height: 20px; /* 높이를 조절하여 두껍게 만듭니다. */
    border: none;
    background-color: #f0f0f0; /* progress 바의 배경색을 설정합니다. */
}

/* progress 바의 값에 대한 스타일 */
progress[value] {
    appearance: none; /* 기본 스타일링 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
/* progress 바의 값에 대한 색상과 네모난 형태 설정 */
progress[value]::-webkit-progress-bar {
    background-color: #f0f0f0; /* progress 바의 배경색을 설정합니다. */
}
  
/* progress 바의 값에 대한 색상과 네모난 형태 설정 */
progress[value]::-webkit-progress-value {
    background-color: purple; /* progress 바의 색상을 설정합니다. */
}

.signup_email_form form {
    display: flex;
    flex-direction: column;
}

.signup_email_form input {
    border: none; /* 모든 테두리를 제거합니다. */
    border-bottom: 0.1rem solid var(--gray); /* 아래쪽 테두리를 추가합니다. 여기서는 검은색 1px 선을 사용했습니다. */
    outline: none; /* 포커스 효과 테두리를 제거합니다. */
    margin-top: 1rem;
    height: 2rem;
}

.signup_email_form button {
    margin-top: 2rem;
    color: var(--white);
    background-color: var(--red);
    border: none; /* 모든 테두리를 제거합니다. */
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px 0;
}

.input_nickname_form input {
    border: none; /* 모든 테두리를 제거합니다. */
    border-bottom: 0.1rem solid var(--gray); /* 아래쪽 테두리를 추가합니다. 여기서는 검은색 1px 선을 사용했습니다. */
    outline: none; /* 포커스 효과 테두리를 제거합니다. */
    margin-top: 1rem;
    height: 2rem;
}