@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
:root {
    --main-color: #db4455;
    --white-color: #ffffff;
    --gray-color: #A9A9A9;
    --font-color: #6b6b6b;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body, html {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    color: var(--main-color);
    justify-content: space-between;
    margin-bottom: 10vh;
}
header i, header span{
    margin: 0 1rem;
    font-size: 6vw;
}
header i::before ,
header span i::before,
header span::before{
    width: 1.5rem;
    height: 1.5rem;
}
header span i{
    font-size: 14px;
    margin-bottom: 10px;
}
.hide-arrow {
    color: var(--white-color);
}
.go_back {
    text-decoration: none;
}
.go_back i {
    color: var(--main-color);
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content:center;
    padding: 10px;
    overflow: auto;
}

.footer-item:nth-of-type(2) {
    margin: 0 10vw;
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110px;
    margin-top: 2px;
}
.footer-icon {
    font-size: 30px;
    color: #db4455;
    margin-bottom: 7px;
}

.footer-text {
    color: #db4455;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}
.group-wrap, main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 15vh;
    height: calc(100vh - 10vh - 15vh);
}
.group-div {
    width: 80vw;
    border-radius: 10px;
    margin-top: 3vh;
    height: auto;
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-in-out; 
    padding: 2vh 5vw;
}

.group-div:last-child {
    margin-bottom: 3vh;
}

.group-div:hover {
    transform: scale(1.02);
}
.group-div h3,
.group-div a,
.group-div i {
    text-decoration: none;
    color: var(--font-color);
    font-size: large; /* 폰트 크기를 더 크게 설정 */
    font-weight: bold;
    margin: 0;
}
.room-detail {
    display: flex;
    flex-direction: column;
}

.group-wrap p {
    margin: 0;
    margin-top: 1vh;
    color: var(--font-color);
}

.group-wrap span {
    color: var(--main-color);
}
.no-ac {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.ac-btn {
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
    font-size: small;
    color: #fff;
    background-color: var(--main-color); 
    border-radius: 5px; 
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 효과 */
    margin-top: 1vh;
}

a.ac-btn:hover {
    background-color: var(--hover-color); 
}

.no-ac {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}
.group-icon2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    gap: 5px;
}
.goal-btns {
    margin-top: 1vh;
}
.member-recom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-bottom: 3vh;
}
.my-goal {
    margin: 0;
    margin-bottom: 1vh;
}
.member-recom img:nth-child(1) {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.join-button {
    background-color: var(--main-color); 
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin-top: 1vh;
    cursor: pointer;
    border-radius: 4px;
}

.join-button:hover {
    background-color: #c4324a;
}
.h5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
}
.group-wrap h5 {
    color: var(--font-color);
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 600;
}
/* Container */
.ach-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 15vh;
    height: calc(100vh - 10vh - 15vh);
    overflow-y: auto;
}

.ach-w-w {
    padding: 0 10vw;
    margin-top: 2vh;
    background-color: #ffffff;
    border-radius: 5px;
    height: 80vh;
}

.ach-wrap > div {
    margin-bottom: 3vh;
}

.ach-wrap label {
    font-weight: normal;
    color: #333333;
}
.ach-wrap h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 3vh;
    font-weight: normal;
}
.ach-wrap textarea, .ach-wrap input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #f6f8fa;
    margin-top: 1vh;
}

.warning {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
}
.btn button{
    border-radius: 5px;
    border: none;
    font-size:medium;
    font-weight: lighter;
    color: #ffffff;
    background-color: var(--main-color);
    text-decoration: none;
    text-align: center;
    padding: 7px 15px;
}
.group-icon2 > a > span{
    font-size: small;
    color: #909090;
}
.group-icon >.small-w  {
    font-size: small;
    color: #909090;
    font-weight: bold;
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon i {
    margin-right: 1vw;
}
.join-button.applied {
    background-color: gray; 
    color: white; 
    cursor: not-allowed; 
}
.memdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 3vh;
}
.memdiv .profile-image-my {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.memdiv >div {
    display: flex;
    gap: 10px;
}
.he1 {
    display: flex;
    justify-content: space-between;
}
.he1 > div {
    display: flex;
}
.he1 > div  p {
    margin: 0;
}
.he1 .nife {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.he1 button {
    height: 30px;
}
.nickcss {
    font-size: larger;
}