:root {
    --main-color: #db4455;
    --white-color: #ffffff;
    --gray-color: #A9A9A9;
    --font-color: #6b6b6b;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header i {
    margin: 0 1rem;
    font-size: 6vw;
}
header i::before {
    width: 1.5rem;
    height: 1.5rem;
}
.hide-arrow {
    color: var(--main-color);
}
.room-title {
    font-size: 1.3rem;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    border-bottom: 1.5px solid var(--gray-color);
}
.nav a {
    height: 100%;
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#group-admin-content {
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 수직 스크롤이 가능하도록 설정 */
    height: calc(100vh - 120px); /* 헤더와 푸터의 높이를 고려하여 설정하세요 */
}
/*footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content:center;
    padding: 10px;
    overflow: auto;
}

.footer-item:nth-of-type(2) {
    margin: 0 10vw;
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110px;
    margin-top: 2px;
}
.footer-icon {
    font-size: 30px;
    color: #db4455;
    margin-bottom: 7px;
}

.footer-text {
    color: #db4455;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}
.invite_user_p {
    color: var(--font-color);
}
.v_d_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.v_d {
    margin-top: 2.5vh;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.v_d span {
    color: var(--main-color);
    font-weight: bold;
}
.v_d_b a,
.v_d_b i {
    text-decoration: none;
    margin: 0 0.5vw;
}
.v_d_b {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}
.v_d_b i {
    font-size: 24px;
}
.y {
    color: var(--main-color);
}
.n {
    color: black;
}
.invite_user_p {
    font-size: 4vw;
    margin-bottom: 10px;
}
.go_back {
    text-decoration: none;
}
.go_back i {
    color: var(--white-color);
}

.i_m_d {
    margin-top: 3vh;
    padding: 0 4vw;
    border-radius: 5px;
}

.invite_user_p {
    font-size: 4vw;
    margin-bottom: 10px;
}

#nickname {
    width: 70vw;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1vh;
}
#nickname:focus {
    outline: none;
}
#searchResults {
    margin-top: 2vh;
}

#searchResults div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#searchResults div span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.direct-invitation-button {
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    transition: all 0.3s ease;
}


.profile-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    margin-right: 10px; /* Add some space between the image and the member nickname */
}

/* Style for member card container */
.member-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 2vh 5vw;
    padding: 2vw 4vw;
    align-items: center; /* Align items vertically */
}
.member-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
/* Style for member nickname */
.member-nickname {
    font-size: 18px;
    font-weight: lighter;
    flex-grow: 1; /* Allow the member nickname to take up remaining space */
}
/* Style for action buttons container */
.action-buttons {
    display: flex;
}

/* Style for action button */
.action-button {
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.action-button:nth-child(1) {
    margin-right: 10px;
}

.selected-group-tab{
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    border-bottom: 4px solid black;
}