:root {
    --main-color: #db4455;
    --white-color: #ffffff;
    --gray-color: #A9A9A9;
    --font-color: #6b6b6b;
}
body {
    width: 100%;
    height: 100%;
}
header {
    position: fixed;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header i {
    margin: 0 1rem;
    font-size: 6vw;
}
header i::before {
    width: 1.5rem;
    height: 1.5rem;
}
.hide-arrow {
    color: var(--white-color);
}
.go_back {
    text-decoration: none;
}
.go_back i {
    color: var(--main-color);
}
.profile-info {
    padding: 0;
    margin: 4vh 9vw 0;
}
.user-info > div {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 4vw 5vw;
    border-radius: 5px;
    margin-bottom: 3vh;
    color: var(--font-color);
}
.user-name span {
    color: var(--main-color);
}
.user-name {
    font-size: large;
}
.no_image,
.profile-image,
.user-name {
    margin-bottom: 3vh;
}
.profile-image {
    width: 10vh;
    height: 10vh;
    border-radius: 0;
    border: none;
}
.btns {
    margin-right: 9vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5vh;
}
.btns > div {
    margin-left: 3vw;

}
.btns > div:last-child {
    margin-right: 0;
}

.btns > div a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    font-size: small;
    font-weight: 400;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content:center;
    padding: 10px;
    overflow: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110px;
}
.footer-item:nth-of-type(2) {
    margin: 0 10vw;
}
.footer-icon {
    font-size: 30px;
    color: #db4455;
    margin-bottom: 10px;
}

.footer-text {
    color: #db4455;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}
.user_detail_card {
    flex: 1;
    overflow-y: auto;
    padding: 10vh 0 20vh;
}
.user-update {
    flex: 1;
    overflow-y: auto;
    padding: 12vh 10vw 20vh 10vw;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-update form {
    display: flex;
    flex-direction: column;
}

.user-update input,
.user-update textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-update input[type="submit"] {
    background-color: #db4455;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-update input[type="submit"]:hover {
    background-color: #c4324a;
}


.user-update p,
.user-update input,
.user-update textarea{
    margin-bottom: 1.5vh;
}

.user-update .btn-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}