:root {
    --main-color: #db4455;
    --white-color: #ffffff;
    --gray-color: #A9A9A9;
    --font-color: #6b6b6b;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    color: var(--main-color);
    justify-content: space-between;
    margin-bottom: 10vh;
}
header i {
    margin: 0 1rem;
    font-size: 6vw;
}
header i::before {
    width: 1.5rem;
    height: 1.5rem;
}
.hide-arrow {
    color: var(--white-color);
}
.go_back {
    text-decoration: none;
}
.go_back i {
    color: var(--main-color);
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content:center;
    padding: 10px;
    overflow: auto;
}

.footer-item:nth-of-type(2) {
    margin: 0 10vw;
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110px;
    margin-top: 2px;
}
.footer-icon {
    font-size: 30px;
    color: #db4455;
    margin-bottom: 7px;
}

.footer-text {
    color: #db4455;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}
.room-title{
    margin: 0;
}

.group-wrap{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 15vh;
    height: calc(100vh - 10vh - 15vh);
}
.user-detail-box{
    border: 1px solid white;
    border-radius: 7px;
    height: 6vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    padding-left: 5vw;
    margin-top: 2vh;
}
.img{
    justify-content: flex-start;
}
.img img {
    width: 100px;
    height: 100px;
    margin-top: 3vh;
}
.mp-h {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-color-text {
    color: var(--main-color);
}
.horizontal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    margin-top: 3vh;
}

.horizontal-btns a {
    background-color: #ffffff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 15px;
    font-size: small;
}
.group-div {
    margin-top: 3vh;
    width: 85vw;
}