{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <script src="{%static 'javascript/main.js'%}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
    <script src="{%static 'javascript/ach_report.js'%}" defer></script>
    <title>Document</title>
</head>
<body>
    <div>목표 : {{report.goal.title}}</div>
    <div>내용 및 달성후기 : {{report.content}}</div>
    {% comment %} {% if report.image %}
        <img src="{{ report.image.url }}" alt="이미지">
    {% endif %} {% endcomment %}
    <br>
    <div>이 아래 기능 완성안됨(Ajax처리 필요)</div>
    <button id='report-love-btn'><i class="ri-heart-add-line"></i></button>
    <button id='report-like-btn'><i class="ri-thumb-up-line"></i></button>
    <button id='report-dislike-btn'><i class="ri-thumb-down-line"></i></button>
    <button id='report-user-report-btn'><i class="ri-alarm-warning-line"></i></button>
    <br>
    <span>Love count:</span><span id='report-love-count'>{{report.reacted_love.all.count}}</span>
    <span>Like count:</span><span id='report-like-count'>{{report.reacted_respectful.all.count}}</span>
    <span>Dislike count:</span><span id='report-dislike-count'>{{report.reacted_dislike.all.count}}</span>
    <input type="hidden" id="report-pk-hidden" value="{{report.pk}}">
    <style>
        .swal2-radio {
            display: grid !important;
            text-align: left;
            gap: 20px;
        }
    </style>
</body>
</html>