{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="success-goal-container">
    <div id="success-goal-body">
        <p id="success-goal-massage" class="main-color-text bold-12em">성공적으로 목표가 등록되었습니다!</p>
        <div id="choice-master-or-member">
            <div id="group-master-text">
                <p class="bold-12em">당신의 그룹을 생성해보세요</p>
                <a href="{%url "group_management:start_creation"%}" class="bold-12em">그룹장</a>
            </div>
            <div id="group-member-text">
                <p class="bold-12em">원하는 그룹에 가입해보세요</p>
                <form action="{%url "goal_management:recommendation_page" goal_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bold-12em">그룹원</button>
                </form>
            </div>
        </div>
        <div></div>
    </div>
</div>

{% endblock content %}