{% extends "base.html" %}

{% block content %}
<div id="goal-setting-container">
    <div id='goal-header'>
        <div class="page_back_header">
            <span class="page_back">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
        </div>
        <div class="main-color-text">목표설정</div>
        <div></div>
    </div>
    <div class='black-08em-bold'>카테고리를 선택하세요</div>
    
    <form action="{%url 'goal_management:create_goal'%}" method="post" onsubmit="return validateForm()" class="goal-form-setting">
        {% csrf_token %}
        <div id='tag-container'>
            <div>
                {% for tag in tags %}
                <input type="radio" id="tag-radio-{{ tag.id }}" name="selected_tag" value="{{ tag.id }}" onclick="loadSubtags({{ tag.id }})">
                <label for="tag-radio-{{ tag.id }}">{{ tag.tag_name }}</label>
                {% endfor %}
            </div>
            <div id='detail-tag-container'>
            </div>
        </div>
        <div id="tag-selection-warning" class="warning"></div>
    
        <div class='black-08em-bold'>어떤 활동을 원하시나요?</div>
    
        <div id='acttag-container'>
            {% for actTag in actTags %}
                <input type="checkbox" id="actTag-checkbox-{{ actTag.id }}" name="activity-type[]" value="{{ actTag.id }}">
                <label for="actTag-checkbox-{{ actTag.id }}">{{actTag.tag_name}}</label>
            {% endfor %}
        </div>
    
        <div id="activity-type-warning" class="warning"></div>
    
        <div class='black-08em-bold'>내 목표의 제목을 지어주세요</div>
        <input type="text" id="goal-title" name="goal-title">
    
        <div id="goal-title-warning" class="warning"></div>
    
        <div class='black-08em-bold'>세부사항을 기입해주세요</div>
        <textarea id="goal-details" name="goal-details"></textarea>
    
        <div id="goal-details-warning" class="warning"></div>
    
        <div class='black-08em-bold'>대면 활동을 선호하시나요?</div>
        <div class="choice-on-off">
            <input type="radio" id="offline-radio" name="meeting-preference" value="True">
            <label for="offline-radio">선호해요</label>
            <input type="radio" id="online-radio" name="meeting-preference" value="False">
            <label for="online-radio">비대면 원해요</label>
        </div>
        <div id="meeting-preference-warning" class="warning"></div>
    
        <input type="submit" value="목표 등록하기" class="red-btn goal-btn">
    
    </form>
</div>

{% endblock content %}