{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{%static 'javascript/main.js'%}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
    <title>Document</title>
</head>
<body>
    <div>아래는 임시 양식</div>
    <main>
        {% for goal in goals %}
        <div id="goal-{{goal.pk}}">
            <form action="{%url "goal_management:recommendation_page" goal.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">제목 : {{ goal.title }}</button>
            </form>
            <p>내용 : {{ goal.content }}</p>
            <p>태그 : 
            {% for tag in goal.tags.all %}
                {{tag}}
            {% endfor %} </p>
            <p>활동태그 : 
            {% for activity_tag in goal.activityTags.all %}
                {{activity_tag}}
            {% endfor %} </p>
            <p>대면 선호 : {{ goal.favor_offline }}</p>
            <a href="">수정</a>
            <a onclick="GoalDeletionConfirm({{goal.pk}})">삭제</a>
            <a href="">목표 달성 보고(임시)</a>
        </div>
        {% endfor %}
    </main>
    <footer>
        <h1>풋터 들어갈 공간</h1>
    </footer>
</body>
</html>