{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{%static 'javascript/main.js'%}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
  <title>User 검색</title>
</head>
<body>
  <input type="text" id="nickname" placeholder="사용자 닉네임을 입력하세요">
  <input type="hidden" id="invitation-roomId-hidden" value="{{ room_id }}">
  <div id="searchResults"></div>

  <script>
    const nicknameInput = document.getElementById('nickname');
    const searchResultsDiv = document.getElementById('searchResults');
    const roomId = document.getElementById('invitation-roomId-hidden').value;
    nicknameInput.addEventListener('input', () => {
      const nickname = nicknameInput.value.trim();

      if (nickname !== '') {
        fetch(`/group_admin/search/${roomId}?nickname=${nickname}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('서버 오류 발생');
            }
            return response.json();
          })
          .then(data => {
            displaySearchResults(data);
          })
          .catch(error => {
            console.error('검색 중 오류 발생:', error);
          });
      } else {
        searchResultsDiv.innerHTML = '';
      }
    });

    function displaySearchResults(results) {
      if (results.length === 0) {
        searchResultsDiv.innerHTML = '<p>일치하는 사용자가 없습니다.</p>';
        return;
      }
      const userList = results.map(user => 
      ` <div>
          <span>${user.nickname}</span>
          <button class="direct-invitation-button" onclick="suggestJoin({{room_id}}, ${user.id})">가입제안</button>
        </div>
      `).join('');
      searchResultsDiv.innerHTML = userList;
    }

    function suggestJoin(room_id, userId) {
        fetch(window.location.origin + '/group_admin/suggest_join/' + room_id, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ user_id: userId }),
        })
        .then(response => {
            if (!response.ok) {
                if (response.status === 403){
                    Swal.fire({
                    icon: 'error',
                    text: '이미 가입제안을 발송한 유저입니다.',
                });
                }
            throw new Error('가입 제안을 보내는 중에 오류가 발생했습니다.');
            }
        })
        .then(() => {
            Swal.fire({
            icon: 'success',
            title: '가입 제안 성공',
            text: '가입 제안이 성공적으로 이루어졌습니다.',
            });
        })
        .catch(error => {
            console.error('가입 제안을 보내는 중에 오류가 발생했습니다:', error);
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
        }
  </script>
</body>
</html>
