{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{%static 'css/jk.css' %}" />
  <title>Document</title>
</head>
<body>
  <div class="create-auth-container">
    <div class="auth-info-text">
      <p class="gray-08em">인증만료까지 남은 시간</p>
      <p class="black-bold">00:00:00</p>
    </div>
    <form
      action="{% url 'group_activity:create_authentication' pk %}"
      method="post"
      enctype="multipart/form-data"
      class="create-auths"
    >
      {%csrf_token%}
      {% for field in form %}
        <div class="form-group">
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
    
      <input type="hidden" name="room_id" value="{{ room.id }}" />
      <button type="submit" class="auth-btn big-btn">제출하기</button>
    </form>
  </div>
</body>
</html>

