{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="{%static 'javascript/main.js'%}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
  <title>Document</title>
</head>
<body>
  <p>인증 만들기(그룹장)</p>
  <form id="authentication-form" action="{% url 'group_activity:create_auth' room_id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" onclick="validateTime()">인증개설</button>
  </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr('.flatpickr', {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
  });
</script>
</html>