{% extends 'group_activity/group_activity_base.html' %}

{% block content %}
<div id="activate-auths">
  <a href="" id="auth-restart"><i class="fa-solid fa-rotate-right"></i></a>
  {% for auth in authentication %}
  <div class="activate-auth" data-auth-id="{{ auth.id }}" data-target-date="{{ auth.end|date:'c' }}">
    <p class="main-color-08em">현재 활성화 된 인증</p>
    <p>{{ auth.start }}~{{ auth.end }}</p>
    <!-- 고유한 ID 부여 -->
    <div class="activate-auth-bottom">
      <p class="auth-timer" data-auth-id="{{ auth.id }}"><span class="gray-08em">남은 시간</span> 00:00:00</p>
      {% if master %}
        <a href="{% url 'group_activity:create_authentication' room.pk %}" class="auth-btn-style auth-btn">인증하기</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if master %}
    <a href="{% url 'group_activity:create_auth' room.pk %}" class="create-auth-btn auth-btn-style">인증 개설</a>
  {% endif %}
</div>
{% endblock content %}
