{% load static %}
{% block content %}

    <div id="group-member-list">
        <p id="member-list-text">멤버 list</p>
        {% for member, inner_dict in member_dict.items %}
            <div class="group-member-intro">
                {% if member.profile_image.url != '' %}
                <img
                    src="/media/{{member.profile_image}}/"
                    alt="프로필 이미지"
                    class="profile-image-group"
                />
                {% else %}
                <img
                    src="{% static 'image/noimage.png' %}"
                    alt="프로필 이미지"
                    class="profile-image-group"
                />
                {% endif %}
                <div class="member-intro-text">
                    <h3>닉네임: {{ member.nickname }}</h3>
                    <div>목표: {{inner_dict.goal.title}}</div>
                    <div>남은 보증금: {{inner_dict.user_info.deposit_left}}</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}