{% load static %}
{% block content %}

    <div id="group-member-list">
        {% for member in member_list %}
            
            {% if member.user == room.master %}
                <div class="group-master-intro">
                    {% if member.user.profile_image.url != '' %}
                    <img
                        src="/media/{{member.user.profile_image}}"
                        alt="프로필 이미지"
                        class="profile-image-group"
                    />
                    {% else %}
                    <img
                        src="{% static 'image/noimage.png' %}"
                        alt="프로필 이미지"
                        class="profile-image-group"
                    />
                    {% endif %}
                    <div class="member-intro-text">
                        <h3><span class='member-field-span'></span>👑{{ member.user.nickname }}👑</h3>
                        <div><span class='member-field-span'>목표 </span>{{ member.goal.title }}</div>
                        <div class="d3"><span class='member-field-span '>Fever&nbsp; </span>{{ member.user.fuel }}<img class="fever-gif" style="width:20px; height:20px;" src="{% static 'image/fire.gif' %}" alt="GIF 이미지">
                        {% if member.user_info.room.cert_required %}
                            <span class='member-field-span'>&nbsp;&nbsp;&nbsp;보증금&nbsp; </span> {{member.user_info.deposit_left}}🪙
                        {% endif %}
                    </div>
                    </div>
                </div>
            {% else %}
                <div class="group-member-intro">
                    {% if member.user.profile_image.url != '' %}
                    <img
                        src="/media/{{member.user.profile_image}}"
                        alt="프로필 이미지"
                        class="profile-image-group"
                    />
                    {% else %}
                    <img
                        src="{% static 'image/noimage.png' %}"
                        alt="프로필 이미지"
                        class="profile-image-group"
                    />
                    {% endif %}
                    <div class="member-intro-text">
                        <h3><span class='member-field-span'></span> {{ member.user.nickname }}</h3>
                        <div><span class='member-field-span'>목표</span> {{member.goal.title}}</div>
                        <div class="d3"><span class='member-field-span '>Fever&nbsp; </span>{{ member.user.fuel }}<img class="fever-gif" style="width:20px; height:20px;" src="{% static 'image/fire.gif' %}" alt="GIF 이미지">
                            {% if member.user_info.room.cert_required %}
                            <span class='member-field-span'>&nbsp;&nbsp;&nbsp;보증금 &nbsp;</span> {{member.user_info.deposit_left}}🪙
                        {% endif %}
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}