{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'css/tag_selection.css'%}">
    <link rel="stylesheet" href="{%static 'css/group_creation.css'%}">
    <script src="{%static 'javascript/main.js'%}" defer></script>
    <title>Document</title>
</head>
<body>
    <p>깐부 모집 게시판</p>
    <div id='center-wrap'>
        {% block content %}
        {% endblock content %}
    </div>
    <button onClick="window.location.href='user'">get start!</button>
</body>
</html>