{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container my-3">
    <table class="table">
      <thead>
        <tr class="thead-dark">
          <th>최신순</th>
          <th>제목</th>
          <th>작성 일시</th>
        </tr>
      </thead>
      <tbody>
        {% if post_list %}
          {% for post in post_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'free_board:detail' post.id %}">{{ post.title }}</a>
              </td>
              <td>{{ post.created_at }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">아직 작성된 포스트가 없습니다.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <!-- 버튼을 테이블 아래, 오른쪽 하단에 배치 -->
    <div class="text-right">
      <a href="{% url 'free_board:create_post' %}" class="btn btn-primary">
        글 작성하러 가기
      </a>
    </div>
  </div>
{% endblock %}
