{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<li class="nav-item">
  {% if user.is_authenticated %}
  <p>{{ user }}님, 환영합니다!</p>
  <a href="{% url 'user_management:logout' %}" class="nav-link">
    로그아웃하기
  </a>
  {% else %}
  <a href="{% url 'user_management:login' %}" class="nav-link">로그인하기</a>
  {% endif %}
</li>
<div class="container my-3">
    <div class="mb-3">
        <a href="?tab=notice" class="btn {% if tab == 'notice' %}btn-primary{% else %}btn-secondary{% endif %}">공지</a>
        <a href="?tab=free" class="btn {% if tab == 'free' %}btn-primary{% else %}btn-secondary{% endif %}">자유</a>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th>추천수</th>
                <th style="width: 50%">제목</th>
                <th>글쓴이</th>
                <th>작성 일시</th>
            </tr>
        </thead>
        <tbody>
          {% for post in page_obj %}
            <tr class="text-center">
                <td>{{ forloop.counter }}</td>
                <td>{{ post.voter.all.count }}</td>
                <td class="text-left">
                    <a href="{% url 'free_board:detail' post.room.id post.id %}">{{ post.title }}</a>
                    {% if tab == 'free' and post.notice %}
                    <span style="color: crimson">공지</span>
                    {% endif %}
                    {% if post.comments.count > 0 %}
                    <span class="text-danger small ml-2">{{ post.comments.count }}</span>
                    {% endif %}
                </td>
                <td>{{ post.author }}</td>
                <td>{{ post.created_at|date:"Y-m-d H:i" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">게시물이 없습니다.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?tab={{ tab }}&page={{ page_obj.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">이전</a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="?tab={{ tab }}&page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?tab={{ tab }}&page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?tab={{ tab }}&page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">다음</a>
        </li>
        {% endif %}
    </ul>
    <div class="text-right">
      <a href="{% url 'free_board:create_post' room_id %}">글 작성하러 가기</a>
    </div>
</div>
{% endblock %}
