{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/free_board.css' %}">
  <title>자유게시판</title>
  <script src="{%static 'javascript/main.js'%}" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
  <script src="https://kit.fontawesome.com/aa0228ade6.js" crossorigin="anonymous"></script>
</head>
<body>
  <div>
    <header>
      <a href="{% url 'free_board:detail' study_room_id=study_room_id post_id=post_id %}"><i class="ri-arrow-drop-left-line back-arrow"></i></a>
      <p class="board-title">자유게시판</p>
    </header>
    <div class="container">
      <form method="post" action="{% url 'free_board:modify_comment' study_room_id=study_room_id comment_id=comment.id %}" class="post-form">
        {% csrf_token %}
        <div class="form-group">
          <span class="comment-mod-title" style="margin-left: 5px">댓글 수정</span>
          <textarea name="content" id="content" cols="30" rows="10" class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="comment-button-container">
          <button type="submit" class="comment-modify-submit-btn">수정 완료</button>
        </div>
      </form>
    </div>
  </div>
</body>

<footer>
  <a href="{% url 'group_management:group_list' %}" class="footer-link" style="display: flex;">
    <div class="footer-item">
      <i class="fa-solid fa-user-group footer-icon"></i>
      <a href="{% url 'group_management:group_list' %}" class="footer-text">내 그룹</a>
    </div>
  </a>
  <a href="{% url 'goal_management:goal_list' %}" class="footer-link" style="display: flex;">
    <div class="footer-item">
      <i class="fa-solid fa-bullseye footer-icon"></i>
      <a href="{% url 'goal_management:goal_list' %}" class="footer-text">내 목표</a>
    </div>
  </a>
  <a href="{% url 'goal_management:achievement_report_list'%}" class="footer-link" style="display: flex;">
    <div class="footer-item">
      <i class="ri-file-list-3-line footer-icon"></i>
      <a href="{% url 'goal_management:achievement_report_list'%}" class="footer-text">달성 보고</a>
    </div>
  </a>
</footer>
</html>
