{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/free_board.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <title>자유게시판</title>
  <script src="{%static 'javascript/main.js'%}" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
  <script src="https://kit.fontawesome.com/aa0228ade6.js" crossorigin="anonymous"></script>
</head>
<body>
  <div>
    <header>
      <a href="{% url 'free_board:detail' study_room_id=study_room_id post_id=post.id  %}"><i class="ri-arrow-drop-left-line back-arrow"></i></a>
      <p class="board-title">자유게시판</p>
    </header>

    <div class="container">
      <form method="post" action="{% url 'free_board:modify_post' study_room_id=study_room_id post_id=post.id %}" class="post-form my-3">
        {% csrf_token %}
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {% for field in form %}
              {% if field.errors %}
                <strong>{{ field.label }}</strong>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="post-modify-title">
          <span class="post-title-input">제목</span>
          <input class="form-control" type="text" name="title" id="title" value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="post-modify-body">
          <span class="post-body-input">내용</span>
          <textarea class="form-control" name="content" id="content" cols="30" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        {% if user_is_master %}
        <div class="form-check">
            {{ form.notice }}
            <label for="{{ form.notice.id_for_label }}" class="form-check-label">{{ form.notice.label }}</label>
        </div>
        {% endif %}
        <br>
        <div class="button-container">
          <button type="submit" class="post-create-submit-btn">수정하기</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
