{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">글 쓰기</h5>
  {% if post.id %}
  <form method="post" action="{% url 'free_board:modify_post' study_room_id=study_room_id post_id=post.id %}" class="post-form my-3">
  {% else %}
  <form method="post" action="{% url 'free_board:create_post' study_room_id=study_room_id %}" class="post-form my-3">
  {% endif %}
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %}
          {% if field.errors %}
            <strong>{{ field.label }}</strong>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="form-group">
      <label for="title">제목</label>
      <input class="form-control" type="text" name="title" id="title" value="{{ form.title.value|default_if_none:'' }}">
    </div>
    <div class="form-group">
      <label for="content">내용</label>
      <textarea class="form-control" name="content" id="content" cols="30" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
    </div>
    <br><br>
    {% if user_is_master %}
    <div class="form-check">
        {{ form.notice }}
        <label for="{{ form.notice.id_for_label }}" class="form-check-label">{{ form.notice.label }}</label>
    </div>
    {% endif %}
    <br>
    <button type="submit" class="btn btn-primary">저장하기</button>
  </form>
</div>
{% endblock %}
